

<!DOCTYPE html>

<html>
<head>
    <title>S3 Browser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>
    angular.module('foo', [])

    .filter('substring', function() {
    return function(str, start, end) {
    return str.substring(start, end);
    };
    })
</script>

</head>

<body class="container">



<div ng-app= "foo" ng-controller="NamesCtrl">

    <label>Search File</label>
    <li>
        <ul>
            <li class="animate-repeat" ng-repeat="n in names">
                <image src={{n}}></image>
            </li>
        </ul>


</div>
<script>
                function test(callback){
                    $.getJSON("http://localhost:9000/listJson" ,function(data){

                                callback(data);


                         });
                }

                function NamesCtrl($scope) {
                var mydata;
                    test(function (data){
                        mydata=JSON.stringify(data).split("\"").join("").split("\\").join("").replace("[","").replace("]","").split(',');
                    });

                    alert("All contents of the directory fetched.");
                 $scope.names=mydata;
                }


    </script>
</body>
</html>