

<!DOCTYPE html>

<html ng-app="Demo">
<head>
    <title>Fetched Images</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script type="text/javascript" src= "http://kvasnicak.info/examples/vendor/angular.min.js"></script>


</head>

<body class="container">

<div ng-controller="NamesCtrl">

    {{names}}
<div class="images">

    <img  image-lazy-src={{n}} width="400" height="400" ng-repeat="n in names track by $index"/>
</div>
</div>

<script>

    angular.module('Demo', []).run(
        function($rootScope) {
          $rootScope.photos = new Array(10);
        }
    );

    angular.module('Demo').directive(
        'imageLazySrc', function($document, $window) {
          return {
            restrict: 'A',
            link: function($scope, $element, $attributes) {

              function isInView() {
                // get current viewport position and dimensions, and image position
                var clientHeight = $document[0].documentElement.clientHeight,
                    clientWidth = $document[0].documentElement.clientWidth,
                    imageRect = $element[0].getBoundingClientRect();

                if (
                    (imageRect.top >= 0 && imageRect.bottom <= clientHeight)
                    &&
                    (imageRect.left >= 0 && imageRect.right <= clientWidth)
                ) {
                  $element[0].src = $attributes.imageLazySrc; // set src attribute on element (it will load image)

                  // unbind event listeners when image src has been set
                  removeEventListeners();
                }
              }

              function removeEventListeners() {
                $window.removeEventListener('scroll', isInView);
                $window.removeEventListener('resize', isInView);
              }

              // bind scroll and resize event listener to window
              $window.addEventListener('scroll', isInView);
              $window.addEventListener('resize', isInView);

              // unbind event listeners if element was destroyed
              // it happens when you change view, etc
              $element.on('$destroy', function() {
                removeEventListeners();
              });

              // explicitly call scroll listener (because, some images are in viewport already and we haven't scrolled yet)
              isInView();
            }
          };
        }
    );
  </script>

<script>
                function test(callback){
                    $.getJSON("http://localhost:9000/listJson" ,function(data){

                                callback(data);


                         });
                }

                function NamesCtrl($scope) {
                var mydata;
                    test(function (data){
                        mydata=JSON.stringify(data).split("\"").join("").split("\\").join("").replace("[","").replace("]","").split(',');
                    });

                    alert("All contents of the directory fetched.");
                 $scope.names=mydata;
                }


    </script>


</body>
</html>